.episode-wrapper {
  height: 100%;
  background-image: url('../../assets/images/episodePage.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}

.card-wrapper {
  position: absolute;
  top: 10%;
  left: 60%;
  min-width: 600px;
  min-height: 350px;
}

.episode-card {
  width: 600px;
  height: 350px;
}

.character-chip {
  width: 100%;
}

.actions-wrapper {
  display: flex;
  justify-content: center;
}